@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

.grid {
  position: relative;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('./images/background.png');
  font-size: 25px;
  text-align: center;
}

.title {
  margin: 20px;
  font-size: 55px;
  text-transform: uppercase;
}

.gameBtns {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  background-color: #5eba0c;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.modal {
  display: none;
}

.modal.shown {
  position: absolute;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b0a0a61;
  cursor: pointer;
}

.howContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 210px;
  background-image: url('./images/background.png');
  border: 1px solid rgba(0, 0, 0, 0.052);
  border-radius: 30px;
  box-shadow: rgb(0 0 0 / 33%) 0px 5px 15px;
  cursor: default;
}

.howContainer .howHeader {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.howContainer .howHeader h2 {
  margin-right: 20px;
  font-size: 32px;
  color: #5eba0c;
  text-align: center;
}

.howContainer .howHeader i {
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.howContainer ul {
  margin-bottom: 20px;
  list-style: none;
  font-size: 25px;
  text-align: left;
}

.howContainer ul i {
  margin-left: 10px;
  font-size: 25px;
}

.doodler {
  position: absolute;
  width: 87px;
  height: 85px;
  background-image: url('./images/doodler-guy.png');
}

.platform {
  position: absolute;
  width: 85px;
  height: 15px;
  background-image: url('./images/platform.png');
}